<h2>Create Demand</h2>


<div class="main">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Select Demand</mat-label>
    <mat-select>
      <mat-option value="New Licence">New Licence</mat-option>
    <mat-option value="Hardware">Hardware</mat-option>
    <mat-option value="Payment via visa">Payment via visa</mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Question 1</mat-label>
      <input matInput placeholder="Question 1" value="AI">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Question 2</mat-label>
      <input matInput placeholder="Question 2" >
    </mat-form-field>
  </form>
</div>